name: Pipeline


# ¿Cuando se ejecuta el workflow?
on: 
  push:
    branches: [main]
  pull_request: 
    branches: [main]
    types: [opened, synchronize]


# ¿Que hace el workflow?
jobs:
  deploy:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3 # Descarga el repositorio para poder utlizarlo
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3 # Instala node
        with:
          node-version: 16
      - name: Install dependencies # Instalar todas las dependencias del proyecto
        run: npm ci # npm install pero optimizado para Continous Integration
      - name: Pass Linter # Paso el linter
        run: npm run lint
      - name: Test # Pasa los test
        env:
          MONGO_URI_TEST: ${{ secrets.MONGO_URI_TEST }} # secreto del repositorio
        run: npm run test